.blogpage {
    background-color: var(--as-Magic-mint);
    min-height: 90vh;
    display: flex; 
    flex-direction: row;
}

.columnA {
    width: 25%;
    padding-left: 0.5rem;
    /* height: 90%; */
}

.columnB {
    width: 75%;
    padding: 0.5rem;
}




