.post {
    /* background-color: var(--as-dark); */
    margin-bottom: 2rem;
    padding: 1rem;
    border: 1px solid var(--as-violet);
    /* font-weight: 600; */
}

.post__keywordsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.post__heading {
    font-size: 1.7rem;
    margin-top: 0.8rem;
    margin-bottom: 1rem;
}

.post__keyword {
    /* background-color: var(--as-Languid-lavender); */
    /* margin-right: 0.5rem; */
    margin: 0.2rem;
    padding: 0rem 0.3rem 0.1rem 0.3rem;
    border: 1px solid var(--as-violet);
    /* background-color: var(--as-violet); */
    /* box-shadow: 1px 1px 1px #999; */
}

.horzontalLine {
    /* background-color: var(--as-violet); */
    margin-top: 2rem;
    border-top: 0.5px solid var(--as-violet);
    border-bottom: none;
}

.post__footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 1rem;
    /* font-size: larger; */
    /* border: 1px solid var(--as-violet); */
}





