
.globalBtn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  min-height: 2.2rem;

  /* margin: 0rem 0.4rem 0.4rem 0rem; */
  padding: 0rem 0.3rem;

  border: 1px solid var(--accent-color);
  color: var(--as-darkGrey);
  background-color: var(--as-neonpink);

  cursor: pointer;
  user-select: none;
  font-size: 1rem;
}

    /* for tablets */
    @media only screen and (min-width: 601px) and (max-width: 900px) {
      .globalBtn {
        font-size: 0.9rem;
      }
  }

    /* for mobile */
    @media only screen and (max-width: 600px) {
      .globalBtn {
        font-size: 0.8rem;
      }
    }

.globalBtn:hover {
  background-color: var(--as-violet);
  color: var(--as-darkGrey);
}