.profileTitle {
    position: absolute;
    /* margin-top: 5%; */
    left: -72px ;
    /* font-family: 'Quicksand', sans-serif; */
}

.profilePic {
    margin-top: 10%;
    margin-left: 10%;
    width: 400px;
}

.profileText {
    margin-top: 10%;
    margin-left: 10%;
    width: 600px;
    height: 200px;
    text-align: justify;
    
}

.pageWrapper {
    position: relative;
    width: 80%;
    height: 80%;
    background-color: #ffe8dc;
    /* margin-top: 5%; */
    margin-left: 15%;
    /* display: flex;
    flex-direction: column; */
    /* align-items: flex-end; */
}
