.profileTitle {
    /* position: absolute; */
    font-size: 2rem;
    /* margin-top: 5%; */
    left: 6rem ;
    /* font-family: 'Quicksand', sans-serif; */
}

.profileBox {
    display: flex;
}

.profilePic {
    /* margin-top: 10%; */
    margin-left: 10%;
    /* width: 300px; */
    height: 400px;
}

.profileText {
    /* background-color: green; */
    /* margin-top: 10%; */
    margin-left: 10%;
    margin-right: 10%;
    width: 600px;
    height: 400px;
    text-align: justify;
    display: flex;
    vertical-align: middle;
    align-items: center;
    /* align-content:flex-end; */
    /* justify-content: center;  */
    
}

.CV {
    margin: 5% 5% 0% 5%;
}

li {
    margin-bottom: 2%;
}

.downloadButton {
    background-color: var(--as-Languid-lavender);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.downloadButton:hover {
    background-color: #fff8f5;
    color: black
}

.skillListWrapper {
    display: flex;
}

.columnA {
    /* background-color: red; */
    /* height: 200px; */
    width: 50%
}

.columnB {
    /* background-color: green; */
    /* height: 200px; */
    width: 50%
}

h2 {
    margin-top: 3rem;
}

.downloadButtonWrapper {
    margin-top: 3rem;
    display: flex;
    justify-content: space-evenly;
}