.profileTitle {
    position: absolute;
    /* margin-top: 5%; */
    left: -72px ;
    /* font-family: 'Quicksand', sans-serif; */
}

.profileBox {
    display: flex;
}

.profilePic {
    margin-top: 10%;
    margin-left: 10%;
    /* width: 300px; */
    height: 400px;
}

.profileText {
    /* background-color: green; */
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    width: 600px;
    height: 400px;
    text-align: justify;
    display: flex;
    /* vertical-align: middle; */
    align-items: center;
    /* align-content:flex-end; */
    /* justify-content: center;  */
    
}

.pageWrapper {
    position: relative;
    width: 80%;
    height: 80%;
    background-color: #ffe8dc;
    /* margin-top: 5%; */
    margin-left: 15%;
    /* display: flex;
    flex-direction: column; */
    /* align-items: flex-end; */
}
