.CV {
  margin: 5% 5% 0% 5%;
}

.CV__heading2 {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.CV__heading3 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.CV__skillListWrapper {
  display: flex;
}

.CV__columnA {
  width: 50%
}

.CV__columnB {
  width: 50%
}

.CV li {
  margin-bottom: 2%;
}

.CV__downloadWrapper {
  margin-top: 3rem;
  display: flex;
  justify-content: space-evenly;
}

.CV__downloadButton {
  background-color: var(--as-Languid-lavender);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.CV__downloadButton:hover {
  background-color: #fff8f5;
  color: black
}
