.paginationContainer {
  display: flex;
  gap: 0.4rem;
  align-items:center;
  justify-content:center;
}

.paginationList {
  list-style: none;
  display: flex;
  gap: 0.25rem;
}

.postsPerPageSelecter {
  max-height: 1.5rem;
}