.loginForm {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
}

.loginForm__input {
    /* width: 100%; */
    padding: 12px 20px;
    margin: 8px 1px;
    box-sizing: border-box;

    border: 2px solid rgb(161, 161, 161);
}

.loginForm__submit {
    background-color: var(--as-Languid-lavender);
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.loginForm__submit:hover {
    background-color: white;
    color: rgb(44, 44, 44);
}