.navContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: var(--as-violet);
}

.navButtonBar {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.mainNav__link {
    display:flex;
    align-items:center;
    height: 3rem; 
    
    border: none;
    box-shadow: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--as-lightwhite);
    text-decoration: none;
    padding-left: 1rem;
    padding-right: 1rem;
}

.mainNav__link:hover {
    background-color: var(--as-neonpink);
    color: var(--as-darkGrey);
    cursor: pointer;
}
