.keywordsUI {
  /* background-color: red; */
}

.keywordsUI__title {
  text-align: center;
  margin: 0;
  margin-bottom: 1rem;
}

.keywordsUI__KeywordsContainer {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
}
