.sidebar {
    /* background-color: yellow; */
}

.sidebar__title {
    text-align: center;
    margin: 0;
}

.sidebar__list {
    list-style: none;
    padding-inline-start: 0px;
    height: 60vh;

    overflow-x: hidden;  
    overflow-y: auto;
}

.sidebar__item {
    font-family: 'Quicksand', sans-serif;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
    margin: 0.1rem;
}