.post {
    background-color: white;
    /* margin: 3rem; */
    margin-bottom: 30px;
    padding: 10px;
    /* max-width: 100%; */
    line-height: 1.0;
    border-radius:5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}

.post__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

p {
    margin: 0px !important;
}

.ql-syntax {
    /* margin: 1rem; */
    padding: 1rem;
    background: rgb(78, 78, 78) ;
    color: whitesmoke ;
}