.titleBox {
  width: 50%;
  margin-bottom: 1rem;
  /* background-color: red; */
}

.ql-toolbar {
  background-color: var(--as-neonviolet);
  margin-bottom: 1rem;
}

.Quill-Editor {
  height: 300px;
  margin-bottom: 1rem;
  background-color: var(--as-neonviolet);
}