.container {
  display: flex;
  flex-direction: row;
  padding-bottom: 1rem;
}

.form {
  display: flex;
  flex-direction: row;
  width: 50%;
  gap: 3rem;
}

.keyowrdsInput {
  margin-block: 0 !important;
}

.keyword__addBtn {
  /* margin-left: 3rem !important; */
  /* width: 5rem !important; */
  white-space:nowrap;
  width: 100% !important;
  /* padding: 10px 15px !important; */
  margin: 0 !important;
}

.keywordsContainer {
  margin-left: 2rem;
  max-width: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}