.pageWrapper {
    position: relative;
    width: 80%;
    height: 80%;
    background-color: #ffe8dc;
    /* padding: 2rem; */
    /* margin-top: 5%; */
    margin-left: 15%;
    /* display: flex;
    flex-direction: column; */
    /* align-items: flex-end; */
}

.pageArticle {
    padding: 2rem;
}