    .pageWrapper {
        box-sizing: border-box;
        width: 92%;
        margin-left: 6%;
        margin-right: 2%;
        padding: 1rem;
        background-color: #ffe8dc;
    }


@media only screen and (min-width: 601px) and (max-width: 900px) {
    .pageWrapper {
        width: 85%;
        margin-left: 10%;
        margin-right: 5%;
    }
}

@media only screen and (min-width: 901px) {
    .pageWrapper {
        width: 80%;
        margin-left: 15%;
        margin-right: 5%;
    } 
}