body {

  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  background-color: #fff8f5;
}

* {
  padding: 0% ;
  margin: 0% ;
}

button {
  padding: 0.1rem;
  margin: 0.1rem;
  font-family: 'Quicksand', sans-serif;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px rgb(156, 156, 156);
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --as-Languid-lavender: #C4B7CB;
  --as-Silver-sand: #BBC7CE;
  --as-Powder-blue: #bfedef;
  --as-Magic-mint: #98E2C6;
  --as-Ebony: #545C52;
  --as-Signal-Orange: rgb(241, 81, 82);
}
