
.editor {
    margin-bottom: 3%;
  }

.quill {
    height: 300px;
}

.inputGp {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.titleBox {
    width: 99%;
    margin-bottom: 3%;
}

.createPostPage {
    padding-left: 5%;
    padding-right: 5%;
}