.themeSwitcherIcon {
  /* background-color: ; */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 3rem;
  /* height: 100%; */
  /* scale: 1.3; */
  color: var(--as-lightwhite);
}

.themeSwitcherIcon:hover {
  background-color: var(--as-neonpink);
}
